.anime-card {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(12px);
  border-radius: 16px;

  overflow: hidden;
  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.anime-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(130, 90, 255, 0.25);
}

.anime-image-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* Image style */
.anime-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  transition: transform 0.35s ease;
}

/* Hover image zoom */
.anime-card:hover .anime-image-wrapper img {
  transform: scale(1.08);
}

/* Info container */
.anime-info {
  padding: 12px 14px;
}

/* Title */
.anime-title {
  font-size: 15px;
  font-weight: 700;
  color: #f0f0f7;

  /* Line clamp */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin: 0;
}

/* Genre */
.anime-genre {
  font-size: 12px;
  margin-top: 3px;
  color: #d1d1e0d2;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
